body {
    background-image: url("https://wallpaperaccess.com/full/730421.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.home h1 {
    text-align: center;
}
.home p {
    text-align: center;
}
.home img {
    border-radius: 50%;
    height: 250px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.projects h2 {
    text-align: center;
}
.projects p {
    text-align: center;
    margin-bottom: 40px;
}
.about h2 {
    text-align: center;
}
.about p {
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
}
.avatar {
    margin-left: 135px;
}
nav {
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
}

.icons {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.contact h2 {
    text-align: center;
    margin-top: 50px;
}
.contacticons {
    display: flex;
    justify-content:center;
    margin-top: 50px;
}

.cards {
    /* display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(3, 1fr);
    padding-left: 215px;     */
    display: flex;
    justify-content: space-evenly;
}